.dashboard-container {
    display: flex;
    height: 100vh;
    background-color: #f4f5f7;
}

.sidebar {
    flex: 0 0 200px;
    border-right: 1px solid #ddd;
    background-color: #ffffff;
    padding: 20px;
}

.dashboard-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.card {
    background-color: #eef3f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(25% - 20px);
    padding: 20px;
    min-width: 200px;
    text-align: center;
    /* border: 2px solid red !important;  */
    height:20vh ;
}

.card h5 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #6c757d;
}

.card p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.card .icon {
    font-size: 40px;
    margin-bottom: 10px;
}
/*   
.card-blue {
    background-color: #eef3f0; 
       color: white;
}

.card-purple {
    background-color: #eef3f0;
        color: white;
}

.card-green {
    background-color: #eef3f0;
        color: white;
}

.card-red {
    background-color: #eef3f0;
        color: white;
} */

.chart-container {
    flex: 1 1 100%;
    background-color: #ffffff;    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}



.users {
    flex: 1;
    padding: 40px;
    overflow-y: auto;
}

.table {
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.table th {
    background-color: #f8f9fa;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

