.Navbar {
  height: 90px;
  display: flex;
  column-gap: 30px !important;
  background: #eef3f0;
  font-family: "Heebo", sans-serif;
  border-radius: 5px;
  width: 95%;
  margin: 30px auto;
  position: fixed;
}

.Navbar .nav-logo {
  display: flex;
}

.Navbar .nav-logo img {
  width: 100px;
  height: 70px;
}

.Navbar h3 {
  color: #236c7e;
  font-size: 35px;
  margin-top: 15px;
  margin-left: 10px;
}

.Navbar .nav-items {
  display: flex;
  align-items: center;
  margin-left: 55px;
}

.Navbar .nav-items a {
  color: black;
  font-size: 18px;
  text-decoration: none;
  margin: 0 15px;
  position: relative;
  opacity: 0.9;
}

.Navbar .nav-items a:hover {
  opacity: 1;
  color: #236c7e;
}

.Navbar .nav-items a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: #236c7e;
  transition: all 0.45s;
}

.Navbar .nav-items a:hover::before {
  width: 100%;
}

.Navbar .nav-items button {
  border: 2px solid #236c7e;
  background-color: #236c7e;
  border-radius: 4px;
  padding: 0.5em 1em 0.5em 1em;
}

.Navbar .nav-items button:hover {
  background-color: #fc9700;
  box-shadow: 5px 0px 30px rgba(2, 154, 255, 0.39);
}

.Navbar .nav-items button span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Heebo", sans-serif;
  font-size: 18px;
}
.Navbar .nav-toggle {
  display: none;
  cursor: pointer;
}

@media (max-width: 750px) {
  .nav-items {
    background-color: #eef3f0;
    margin-left: 0;
  }
  .Navbar .nav-items {
    
    margin-left: 0;
  }
  .Navbar .nav-logo img {
    width: 70px;
    height: 50px;
    margin-top: 4px;
  }
  .Navbar h3 {
    color: #236c7e;
    font-size: 30px;
    margin-top: 11px;
    margin-left: 1px;
  }
  .Navbar .nav-toggle {
      margin-left: 0;
  }
}

