.Navbar {
  height: 90px;
  display: flex;
  column-gap: 30px !important;
  background: #eef3f0;
  font-family: "Josefin Sans", sans-serif !important;
  border-radius: 5px;
  width: 95%;
  margin: 30px auto;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.Navbar .nav-logo {
  display: flex;
  align-items: center;
}

.Navbar .nav-logo img {
  width: 90px;
  height: 65px;
  margin-left: 20px;
}

.Navbar h3 {
  color: #1e4f5c;
  font-size: 30px;
  margin-top: 15px;
  margin-left: 10px;
}

.Navbar .nav-items {
  display: flex;
  align-items: center;
  margin-left: 15%;
}

.Navbar .nav-items a {
  color: black;
  font-size: 18px;
  text-decoration: none;
  position: relative;
  opacity: 0.9;
  margin: 0 15px;
}

.Navbar .nav-items a:hover {
  opacity: 1;
  color: #1e4f5c;
}

.Navbar .nav-items a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: #1e4f5c;
  transition: all 0.45s;
}

.Navbar .nav-items a:hover::before {
  width: 90%;
}

.Navbar .nav-items button {
  border: 2px solid #1e4f5c;
  background-color: #1e4f5c;
  border-radius: 5px;
  padding: 0.5em 1em;
}

.Navbar .nav-items button:hover {
  background-color: #fc9700;
  box-shadow: 5px 0px 30px rgba(2, 154, 255, 0.39);
}

.Navbar .nav-items button span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
}

.Navbar .nav-toggle {
  display: none;
  cursor: pointer;
}

.profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.custom-dropdown-item {
  color: inherit;
  text-decoration: none;
  background-color: transparent !important;
}

.custom-dropdown-item:hover,
.custom-dropdown-item:focus,
.custom-dropdown-item:active {
  color: inherit;
  background-color: transparent !important;
  text-decoration: none;
}

@media (max-width: 750px) {
  .Navbar {
    column-gap: 0 !important;
    width: 100%;
  }
  .nav-items {
    background-color: #eef3f0;
    margin-left: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .Navbar .nav-items {
    margin-left: 0;
  }
  .Navbar .nav-logo img {
    width: 70px;
    height: 50px;
    margin-top: 4px;
  }
  .Navbar h3 {
    font-size: 25px;
    margin-top: 11px;
    margin-left: 1px;
  }
  .Navbar .nav-toggle {
    display: block;
  }
}
